<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipe Book</title>
    <link rel="stylesheet" href="app.component.css" />
  </head>
  <body>
    <header>
      <div class="Image">
        <img src="assets/back.jpg" alt="Background" />
      </div>
      <h1>Recipe Book</h1>
      <div class="nav-links">
        <a routerLink="Register">Register</a>
        <a routerLink="Login"> LogIn</a>
        <a routerLink="Profile"> Profile</a>
      </div>
    </header>
    <router-outlet></router-outlet>
  </body>
</html> -->

<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipe Book</title>
    <link rel="stylesheet" href="app.component.css" />
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="assets/logo.jpg" />
      </div>

      <div class="nav-links">
        <a routerLink="Register">Register</a>
        <a routerLink="Login"> LogIn</a>
        <a routerLink="Profile"> Profile</a>
      </div>
    </header>
    <router-outlet></router-outlet>
  </body>
</html> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Food Website</title>
    <link rel="stylesheet" href="app.component.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <section id="Home">
      <nav>
        <div class="logo">
          <img src="assets/logo.jpg" />
        </div>
        <!-- <ul>
          <li><a href="#Login">Login</a></li>
          <li><a href="#Register">Register</a></li>
          <li><a href="#Profile">Profile</a></li>
        </ul> -->
        <div class="nav-links">
          <a routerLink="Home">Home . </a>

          <a routerLink="Register">Register . </a>
          <a routerLink="Login"> LogIn . </a>
          <a routerLink="Profile"> Profile . </a>
        </div>

        <!-- <div class="icon">
          <i class="fa-solid fa-magnifying-glass"></i>
          <i class="fa-solid fa-heart"></i>
          <i class="fa-solid fa-cart-shopping"></i>
        </div> -->
      </nav>
      <router-outlet></router-outlet>
    </section>
  </body>
</html>
